*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-areas: "cabecalho cabecalho"
                          "menu conteudo"
                          "menu rodape";
}

#cabecalho{
    background-color: rgb(252, 26, 26);
    grid-area: cabecalho;
    
}
#menu{

    background-color: #ceeb2b;
    grid-area: menu;
}
#conteudo{
    background-color: rgb(78, 252, 72);
    grid-area: conteudo;
}
#rodape{
    background-color: rgb(17, 224, 231);
    grid-area: rodape;

}
